.post {
  display: flex;
  height: 393px;
  border: 1px solid black;
}
.post__preview {
  width: 504px;
  background-image: url(../images/post/preview.png);
  /* flex: 3; */
}
.post__text-box {
  background-color: #f3f3f3;
  flex: 1;
  padding: 80px 84px;
}
.post__cover {
  width: 168px;
  background-image: url(../images/post/cover.png);
  /* flex: 1; */
}
.post__border {
  width: 40px;
  background: #05c3de;
}
